.cbox{
	border: 3px solid;
}
.adiv{
	background-color: red;
}
.bdiv{
	background-color: gray;
}
.cdiv{
	height: 60px;
	background-color: chocolate;
}
.ddiv{
	height: 60px;
	background-color: green;
}
.ediv{
	height: 60px;
	background-color: fuchsia;
}
.fdiv{
	height: 60px;
	background-color: blue;
}